.img__logo {
    width: 65px;
    position: absolute;
    border-bottom: 3px solid #daa520;
    top: 1px;
    left: 2px;
}

.cabecalho {
    background-color: var(--nav);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
}

.container {
    box-shadow: 0 0 15px 0px var(--preto);
    border-radius: 5px;
    padding: 5px;
}

.menu__lista {
    margin-left: 2em;
    font-size: 18px;
}

.menu__item {
    display: inline;
    padding: 0 0.5em;
    text-decoration: none;
}

.menu__link {
    text-decoration: none;
    color: var(--branco);
}

.menu__item:first-child {
    border-bottom: 3px solid #daa520;
    padding-bottom: 22px;
    border-radius: 0 10px 0 0;
    font-weight: 700;
}

.container--2 {
    box-shadow: 0 0 15px 0px var(--preto);
    border-radius: 5px;
    padding: 5px;
}

.menu__lista--2 {
    margin-left: 2em;
    font-size: 18px;
}

.menu__item--2 {
    display: inline;
    padding: 0 0.5em;
    text-decoration: none;
}

.menu__link--2 {
    text-decoration: none;
    color: var(--branco);
}