@import url("./cabecalho.css");
@import url("./box.css");
@import url("./rodape.css");

:root {
    --fonte-principal: "Montserrat";
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --preto-claro: #4B6574;
    --nav: rgba(126, 126, 129, 0.5);
}

body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: var(--fonte-principal);
}